@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/variable/pretendardvariable-dynamic-subset.min.css");

/* 하이드레이션 중 테마 전환 깜빡임 방지 */
.prevent-transition * {
  transition: none !important;
}

/* 테마 관련 스타일 */
#theme-wrapper {
  min-height: 100vh;
  width: 100%;
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
  font-family: "Pretendard Variable", Pretendard, -apple-system,
    BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI",
    "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", sans-serif;
}

h2,
h3,
h4,
h5,
h6 {
  @apply text-slate-900 dark:text-white;
}

a {
  @apply text-slate-500 hover:text-slate-700 dark:text-slate-400 dark:hover:text-slate-50;
}

p {
  @apply text-slate-500 dark:text-slate-400;
}

.text-primary {
  @apply text-gray-700 dark:text-gray-300;
}

.project-card {
  @apply rounded-xl bg-gradient-to-br from-white to-gray-400 dark:from-gray-800 dark:to-gray-500 
    max-w-[90%] sm:max-w-[85%] md:max-w-lg lg:max-w-3xl xl:max-w-4xl mx-auto p-4 md:p-6;
}

@media (max-width: 425px) {
  .project-card {
    @apply mx-0 w-full max-w-none;
  }

  .nav-button {
    display: none !important;
  }
}

.nav-button {
  @apply absolute top-1/2 transform -translate-y-1/2 
    w-10 h-10 sm:w-12 sm:h-12 rounded-full bg-white dark:bg-gray-800 shadow-lg 
    flex items-center justify-center z-10 hover:bg-gray-100 dark:hover:bg-gray-700 transition-all;
}

.prev-button {
  @apply left-2 sm:left-4 md:left-8 lg:left-12;
}

.next-button {
  @apply right-2 sm:right-4 md:right-8 lg:right-12;
}

/* 모바일 뷰에서 화살표 버튼 위치 변경 */
@media (max-width: 640px) {
  .nav-button {
    @apply absolute top-auto bottom-4 -translate-y-0;
  }

  .prev-button {
    @apply left-1/4 -translate-x-1/2;
  }

  .next-button {
    @apply right-1/4 translate-x-1/2;
  }
}

.fade-transition {
  @apply transition-all duration-500 ease-in-out;
}
